# Ontologies and Annotations
*.gpad
*.owl
*.obo
gene_association.*
/*.gpa
/*.gaf
/*.json
gene2go
*.gz
.cache

# Temporary working files
*.png
*.pyc
/*.xlsx
/*.txt
*.bac

# Sphinx working directories
_static
_templates
